language: node_js
install:
  - npm ci
branches:
  only:
  - master
cache:
  directories:
  - node_modules
  - "$HOME/.npm"
jobs:
  include:
  - stage: Test
    script:
    - commitlint-travis
  - stage: Deploy Site
    script:
    - npm run build
    deploy:
      skip_cleanup: true
      provider: firebase
      token:
        secure: sHrNdgjGVBqCzFyq1olYIpLIl92s928Umu86L6aHQONaZLlu9JnRnOWLKznZ1NgSIDm3YUTik88BSz7zHs2c8WmHB6ptSOkqXt6Awgm+Az46DT5Rv6zZhzu6IDCw2or/JP0sTWoNDA6KB7C23L38aa8kTQoLsBbQOGX/Sf+55gcuxYQB04tKIG2m0eBGMlHTtBOXVYIZrEQIPMyms0M2rxysuEB7Rt1a700GZapQkQZMZZkftMlrS7QNt4pd7cL3ylqdsiefJb7+rGsYvFuz7vizKcqDVVmWcfKVlbGurHR0/hBsWoCUP9mpX5jKJ6OX+y4vZSFHNBR9ZtMLdgwihBl+5oo6tWw35aIJT5eu0/n1te8I6QpupthY9uiZJlhSNlBQdO+0s3F3JXD2qaVPSLF7YYjH+GsA3k1Yy8KNkGxoF2vESy64EnLvTtmJLLzY2+vj3wXNF+vHwctcHGDdP5K4ovPVnzFoZjzkI6rTNdKJ8iS0YYzlzuUXwn8Us31wZkNVa6nLbjssbYHpUTRxgdIYMxCPWXLl5mnTCKuQRQp4vPrbAeuYrLgnMIoG2dB1pdDGoMspyRgzl3JNVUSUjlECnB9mw2rxgCdiMqCDRqBOkth0ys4ajo0cCMh1CvLD2+KrSF4+02ghiIipVfUnC3u0eCvWmXJqzPGJIgdwPEQ=
