@import 'node_modules/@blaze/css/src/scss/_variables';

.container {
  position: relative;
}

.loading::after {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 0 0.5em;
  background-color: var(--color-info);
  border-radius: 100%;
  animation: dots 1s alternate infinite linear;
  content: '';
}

@keyframes dots {
  0% {
    box-shadow: 0 0 var(--color-purple), 0 0 var(--color-info);
  }

  50% {
    margin: 0 0.5em;
    box-shadow: 0.4em 0 var(--color-purple), 0.8em 0 var(--color-info);
  }

  100% {
    margin: 0 1.3em;
    box-shadow: 0 0 var(--color-purple), 0 0 var(--color-info);
  }
}

.loaded::after {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  border-bottom: 2px solid green;
  border-left: 2px solid green;
  transform: rotate(-45deg);
  transform-origin: top left;
  animation: tick forwards 0.7s, fade forwards 0.3s 1.3s;
  content: '';
}

@keyframes fade {
  80% {
    opacity: 0;
  }

  100% {
    transform: rotate(-45deg) scale(3) translate(-25%, -50%);
    opacity: 0;
  }
}

@keyframes tick {
  50% {
    width: 0;
    height: 0.3em;
  }

  100% {
    width: 0.7em;
    height: 0.3em;
  }
}
