@import 'node_modules/@blaze/css/src/scss/mixins/_settings';
@import 'node_modules/@blaze/css/src/scss/mixins/_tools.mediaqueries';

$grey-background-dark: lighten($color-grey, 35);

.u-text--normal {
  font-weight: normal;
}

.u-text--italic {
  font-style: italic;
}

.c-toggle input:not(:checked) + .c-toggle__track {
  background-color: $grey-background-dark;
}

.c-toggle__handle {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.c-alert {
  .c-link {
    color: map-get($colors, white) !important;
    text-decoration: underline !important;
  }
}

.c-alert--warning {
  .c-link {
    color: map-get($colors, black) !important;
    text-decoration: underline !important;
  }
}

.c-input-group--label {
  .o-field,
  .c-button {
    margin: $label-field-margin;
  }
}

.c-table__row--heading .c-table__cell {
  color: map-get($colors, brand);
}

.c-table__cell--center {
  justify-content: center;
}

.c-nav {
  overflow-x: hidden;
}

.c-field--choice input {
  margin: 0;
}

.o-field--icon-left,
.o-field--icon-right {
  .c-icon:first-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
