@import 'node_modules/@blaze/css/src/scss/mixins/_settings';
@import 'node_modules/@blaze/css/src/scss/mixins/_tools.mediaqueries';
@import 'node_modules/@blaze/css/src/scss/mixins/_utilities.visibility';
@import 'node_modules/@blaze/css/src/scss/blaze';
@import './debt';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: map-get($colors, white);
  color: map-get($colors, brand);
}

.u-text {
  color: map-get($colors, brand);
}

.u-text,
.c-heading {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.o-page-loading {
  position: relative;
  width: calc(100% - 4em);
  height: 10em;
}

.c-alert {
  .c-link {
    color: #fff !important;
    text-decoration: underline !important;
  }
}

.c-alert--warning {
  .c-link {
    color: #000 !important;
    text-decoration: underline !important;
  }
}

.o-actions {
  .c-button {
    margin: 0 0.5em;
    color: map-get($colors, grey-light-2);

    &--delete:hover {
      color: map-get($colors, red-light-2);
    }

    &--edit:hover {
      color: map-get($colors, orange-light-2);
    }

    &--info:hover {
      color: map-get($colors, blue-light-2);
    }
  }
}

aside.o-drawer.o-drawer--left,
aside.o-drawer.o-drawer--right {
  width: 320px;
}

nav-page {
  .o-layout {
    &__sidebar {
      position: fixed;
      width: 200px;
    }

    &__main {
      width: calc(100% - 200px);
      margin-left: 200px;
    }
  }

  .c-nav {
    background-color: map-get($colors, grey-background);
    color: map-get($colors, brand);

    .c-nav__content {
      background-color: map-get($colors, brand);
      color: map-get($colors, grey-background);
    }

    .c-nav__item {
      position: relative;
      cursor: default;

      .o-icon {
        margin-right: 1em;
      }

      &--active:after {
        content: '';
        position: absolute;
        top: calc(50% - 12px);
        right: -20px;
        padding: 12px;
        transform: rotate(45deg);
        background-color: map-get($colors, white);
      }
    }
  }

  h2.c-heading {
    padding: 0;
  }
}

home-page {
  .o-home-page {
    margin-top: -2em;
    width: 80%;

    .c-heading {
      margin: 1em 0 0.5em;
      padding: 0;
    }
  }

  .c-toggle__track {
    margin: 0 auto;
  }

  .c-tagline {
    font-weight: normal;
  }
}

account-dashboard {
  .c-environment-chooser {
    float: left;
    margin-right: 1em;
    text-align: left;

    select {
      width: auto;
      display: inline-block;
      margin-left: 0.5em;
    }
  }

  .c-table {
    border-radius: 4px;
    border: 1px solid $card-item-border-color;
    overflow: hidden;
  }

  .c-toggle span {
    width: 80px;
  }

  .o-modal--small .o-modal {
    max-width: 300px;
  }
}

account-management,
account-plan {
  .c-card {
    margin-top: 1.25em;
  }

  .c-edit-info.c-button--nude {
    margin: 0 0 0 0.75em;
    color: $link-color;
  }

  .c-edit-info--error.c-button--nude {
    color: $color-error;
  }

  .o-info-item {
    padding-bottom: 0.8em;
  }

  ul.c-list .c-list__item--environment {
    padding-bottom: 0.75em;
  }
}

pricing-overview {
  .c-list .o-feature {
    padding: 0.7em 0;

    .o-icon {
      margin-right: 1em;
    }
  }
}
