@import 'node_modules/@blaze/css/src/scss/mixins/_settings';
@import 'node_modules/@blaze/css/src/scss/mixins/_tools.mediaqueries';
@import 'node_modules/@blaze/css/src/scss/mixins/_utilities.visibility';
@import 'node_modules/@blaze/css/src/scss/blaze';
@import './debt';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: map-get($colors, white);
  color: map-get($colors, brand);
}

.u-text {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: map-get($colors, brand);
}

.c-heading {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
}

.u-display-medium-up {
  display: none !important;
  @include screen--medium-and-up {
    display: initial !important;
  }
}

.o-page-loading {
  position: relative;
  width: calc(100% - 2em);
  height: 10em;

  @include screen--medium-and-up {
    width: calc(100% - 4em);
  }
}

.c-alert {
  .c-link {
    color: #fff !important;
    text-decoration: underline !important;
  }
}

.c-alert--warning {
  .c-link {
    color: #000 !important;
    text-decoration: underline !important;
  }
}

.o-actions {
  .c-button {
    margin: 0 0.5em;
    color: map-get($colors, grey-light-2);

    &--delete:hover {
      color: map-get($colors, red-light-2);
    }

    &--edit:hover {
      color: map-get($colors, orange-light-2);
    }

    &--info:hover {
      color: map-get($colors, blue-light-2);
    }
  }
}

aside.o-drawer.o-drawer--left,
aside.o-drawer.o-drawer--right {
  width: 320px;
}

nav-page {
  .o-layout {
    &__sidebar {
      @include screen--medium-and-up {
        display: block;
        position: fixed;
        width: 200px;
      }
    }

    &__main {
      @include screen--medium-and-up {
        width: calc(100% - 200px);
        margin-left: 200px;
      }
    }
  }

  .c-nav {
    background-color: map-get($colors, grey-background);
    color: map-get($colors, brand);
    width: 100%;

    @include screen--medium-and-up {
      width: 200px;
    }

    .c-nav__content {
      background-color: map-get($colors, brand);
      color: map-get($colors, grey-background);
    }

    .c-nav__item {
      position: relative;
      cursor: default;

      .o-icon {
        margin-right: 1em;
      }

      @include screen--medium-and-up {
        &--active:after {
          content: '';
          position: absolute;
          top: calc(50% - 12px);
          right: -20px;
          padding: 12px;
          transform: rotate(45deg);
          background-color: map-get($colors, white);
        }
      }
    }
  }

  h2.c-heading {
    padding: 0;
  }
}

home-page {
  .o-home-page {
    margin-top: -2em;
    width: 80%;

    .c-heading {
      margin: 1em 0 0.5em;
      padding: 0;
    }
  }

  .c-toggle__track {
    margin: 0 auto;
  }

  .c-tagline {
    font-weight: normal;
  }
}

account-dashboard {
  .c-environment-chooser {
    text-align: left;

    @include screen--small-and-up {
      float: left;
      margin-right: 1em;
    }

    select {
      @include screen--small-and-up {
        width: auto;
        margin: 0 0 0 0.5em;
      }
      display: inline-block;
      margin: 0 0 1em 0;
    }
  }

  .c-button--block.c-button--add-feature {
    @include screen--small-and-up {
      width: auto;
    }
  }

  .c-table {
    border-radius: 4px;
    border: 1px solid $card-item-border-color;
    overflow: hidden;
  }

  .c-toggle span {
    width: 80px;
  }

  .o-modal--small .o-modal {
    max-width: 300px;
  }
}

account-management,
account-plan {
  .c-card {
    margin-top: 1.25em;
  }

  .o-info-item {
    padding-bottom: 0.8em;
  }

  ul.c-list .c-list__item--environment {
    padding-bottom: 0.75em;
  }
}

pricing-overview {
  .c-list .o-feature {
    padding: 0.7em 0;

    .o-icon {
      margin-right: 1em;
    }
  }
}
