@import 'node_modules/@blaze/css/src/scss/_variables';
@import 'node_modules/@blaze/css/src/scss/mixins/_tools.mediaqueries';
@import 'node_modules/@blaze/css/src/scss/mixins/_utilities.visibility';
@import 'node_modules/@blaze/css/src/scss/blaze';

:root {
  --text-font-family-sans-serif: Avenir, sans-serif;
  --color-grey: grey;
  --color-red: #ee0202;
  --color-orange: orange;
  --color-blue: #4267ff;
  --color-purple: purple;
  --color-green: #088a05;
  --color-black: black;
  --color-yellow: #ffef14;
  --color-quiet: var(--color-default);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: var(--color-background);
  color: var(--color-brand);
  font-size: 90%;
}

.u-text {
  color: var(--color-brand);
}

.c-field {
  -webkit-appearance: none;
}

.o-page-loading {
  position: relative;
  width: calc(100% - 2em);
  height: 10em;

  @include screen-and-up(medium) {
    width: calc(100% - 4em);
  }
}

.c-alert {
  .c-link {
    color: white !important;
    text-decoration: underline !important;
  }
}

.c-alert--warning {
  .c-link {
    color: black !important;
    text-decoration: underline !important;
  }
}

.c-table {
  background-color: white;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.c-table__cell--center {
  justify-content: center;
}

.c-card {
  background-color: white;
}

.o-actions {
  .c-button {
    margin: 0 0.5em;
    color: var(--color-grey-light-2);

    &--delete:hover {
      color: var(--color-red-light-2);
    }

    &--edit:hover {
      color: var(--color-orange-light-2);
    }

    &--info:hover {
      color: var(--color-blue-light-2);
    }
  }
}

aside.o-drawer.o-drawer--left,
aside.o-drawer.o-drawer--right {
  width: 320px;
}

nav-page {
  .o-layout {
    &__sidebar {
      @include screen-and-up(medium) {
        display: block;
        position: fixed;
        width: 200px;
      }
    }

    &__main {
      @include screen-and-up(medium) {
        width: calc(100% - 200px);
        margin-left: 200px;
      }
    }
  }

  .c-nav {
    width: 100%;

    @include screen-and-up(medium) {
      width: 200px;
    }

    .c-nav__content {
      background-image: linear-gradient(135deg, var(--color-purple), var(--color-blue));
      color: white;
    }

    .c-nav__item {
      position: relative;
      cursor: default;

      .o-icon {
        margin-right: 1em;
      }

      &--active {
        background-color: var(--color-brand);
      }

      @include screen-and-up(medium) {
        &--active:after {
          content: '';
          position: absolute;
          top: calc(50% - 12px);
          right: -20px;
          padding: 12px;
          transform: rotate(45deg);
          background-color: white;
        }
      }
    }
  }

  h2.c-heading {
    padding: 0;
  }
}

home-page {
  .o-hero,
  .o-blurb,
  .o-benefits {
    padding: 1em;
  }

  .o-hero {
    padding: 4em 0;

    .c-title {
      margin: 1em 0 0.5em;
      padding: 0;
    }

    .c-toggle__track {
      margin: 0 auto;
    }

    .c-tagline {
      font-weight: 400;
      padding: 2em 0 0.5em 0;
    }
  }

  .o-blurb {
    padding: 1em;
    text-align: center;
    background-image: linear-gradient(90deg, var(--color-purple), var(--color-blue));
    color: white;
  }

  .o-benefits {
    .c-heading {
      margin: 0;
      padding: 0;
    }

    .fa-tasks {
      color: var(--color-orange);
    }

    .fa-sitemap {
      color: var(--color-blue);
    }

    .fa-code-branch {
      color: var(--color-red);
    }

    .fa-clock {
      color: var(--color-brand);
    }

    .fa-rocket {
      color: var(--color-green);
    }

    .fa-server {
      color: var(--color-grey);
    }

    .fa-signal {
      color: var(--color-purple);
    }

    .fa-dollar-sign {
      color: var(--color-green);
    }
  }

  .o-steps {
    width: 320px;
    margin: auto;
  }

  .o-example {
    background-color: var(--color-brand);
    color: white;

    .o-example__content {
      max-width: 320px;
      margin: auto;

      @include screen-and-up(medium) {
        font-size: 1.2em;
      }
    }
  }

  .c-card {
    max-width: 500px;
  }
}

account-dashboard {
  .c-toggle span {
    width: 80px;
  }

  .o-modal--small .o-modal {
    max-width: 300px;
  }
}

account-management,
account-plan {
  .c-card {
    margin-top: 1.25em;
  }

  .o-info-item {
    padding-bottom: 0.8em;
  }

  ul.c-list .c-list__item--environment {
    padding-bottom: 0.75em;
  }
}

pricing-overview {
  .c-heading__sub {
    opacity: 1;
    font-weight: 400;
  }

  .c-list .o-feature {
    padding: 0.7em 0;

    .o-icon {
      margin-right: 1em;
    }
  }
}
